.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredient{
    text-transform: uppercase;
    border: 2px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 0 5px;
    padding: 3px;
}