.Summary {
    text-align: center;
    width: 100%; 
}

.Burger {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

@media (min-width: 600px) {
    .Summary {
        /* width: 500px;  */
    }
}