.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
}

.NavigationItem a {
    /* color:#8F5C2C; */
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 15px 8px;
    border-radius: 0 25px 25px 0;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #40A4C8;
}

/* Tablet, Desktop */
@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color:white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        border-radius: 0;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: white;
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
    }  
}