.Sidedrawer {
    width: 70%;
    position: fixed;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: black;
    color: white;
    padding: 32px 10px 32px 8px;;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 10%;
    margin-bottom: 32px;
}