.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    padding: 10px;
}

.Input {
    display: block;
    margin-bottom: 5px;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}